/*
{ANILIST-COVERS=LRG}
*/

/* Fonts */
/* Calligraffitti */
@import url(http://fonts.googleapis.com/css?family=Calligraffitti);

/* Open Sans */
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body{background: url(http://wallpoper.com/images/00/29/35/95/gintama_00293595.jpg) no-repeat center center fixed; 
background-size: cover;}
#list_header {display:none;} /* remove top bar */
.tag_airing {display:none;} /* remove airing Tag */


/* Hiding the nav bar off to the side when not hovered over */
.nav {
    /* Sets how far the nav bar moves from its default position */
    margin-left: -45px;

    /* Add a small transition so it slides in more smoothly */
    transition: 0.20s;
}

.nav:hover {
    margin-left: 0;
}


/* These are each styled individually */
.nav, .nav__notifications, .nav__footer
{
  background: #272727;
}

/* For some reason these are directly styled and discord is entirely different */
/* Removes the default teal/blue styling from the navigation text */
.nav__sml, .nav__logo,
.nav__links div, .nav__links a:hover,
.nav__sml:hover, .nav__links span:hover,
.nav__links a:hover div,
.nav__notifications, .nav__notifications:hover, .nav__notifications div:hover {
    background: unset;
    color: unset;
}

/* Need to be careful not to style the user icon, which is also an 'a' */
.nav__links a:hover, .nav__footer a:hover, .nav__notifications:hover {
  background: #3a3a3a;
}

/* Keep the default white discord icon at all times */
.discord-link:hover img:nth-of-type(1) {
    opacity: 1
}

.discord-link:hover img:nth-of-type(2) {
    opacity: 0
}

/* List counter/numbers */
.list {
    /* Creates a counter and resets it for every list */
    counter-reset: listcount;
}

.list tr td.row__title a:before {
    /* Increments the counter by one then uses that to insert the current count */
    counter-increment: listcount;
    content: counter(listcount) " | ";
}


table 
{
	background-color:rgba(179, 179, 179, 0.86); /* List Color */
}

.update input[type='number'] , .update select , .listNotes
{
  color: #000;
}

/* Styles the list names (Watching, Plan to Watch, etc) */
#lists h3 {
    color: #000;
    font-family: 'Open Sans', sans-serif;
}

/* Disables the color assigned to list items so that the next declarations will be applied */
.rtitle {
    color: unset;
}

/* color Text in rows */
.list {
    color:#000;
    font-family: 'Open Sans', sans-serif;
}

/* color Anime Title */
.list a {
    color:#000;
    font-family: 'Open Sans', sans-serif;
}

.list tr:hover 
{
  color:#FFF;
  background-color:rgba(63, 63, 63, 1);
}

/* Anime title text color when hovered over */
.list tr:hover a{color:#FFF;}
.plus:hover {color:#FFF;}

.list_wrapper
{
  margin-left: 180px !important;
}

#lists
{
  width: 600px !important;
  float:left;
}

#lists thead
{
  display:none;
}

/* Relocates the cover images somewhere out of sight */
.list tr {
  background: -300px no-repeat;
}

/* Handles cover images */
.row__type
{
  background: 0px no-repeat;
  background-size: cover;
  background-image: inherit;
  display: none;
  position: fixed;
  top: 140px;
  height: 350px;
  font-size: 0;
  width: calc( 350px * 0.67771084337); 
  margin-left: 170px;
  box-shadow: 4px 4px 8px rgba(0,0,0,.3);
}

.rtitle:hover .row__type
{
  display:block;
}

/* Handles the custom images */
.row__type:after
{
  content: "";
  width: 450px;
  height: calc( 450px / 1.77304964539);
  display: block;
  margin-top: 350px;
  margin-left: -110px;
}

.row__score  /* remove to show Score */
{
  display:none;
}
  

.list__tag i
{
  display:none;
}


  
.hint--notes
{
  height:auto;
  width:450px !important;
  font-size:1.3em;
  text-align:left;
  border-radius:0px; 
  padding:10px;
  background-color:rgba(179, 179, 179, 0.86);
  box-shadow:4px 4px 8px rgba(0,0,0,.3);
  color:#000;
  font-family: 'Open Sans', sans-serif;
  display: block;
  position:fixed;
  margin-left:913px !important;
  top:780px;
  width:450px;
  float:left;
}

.udelete
{ 
  display: none !important;
}

.row__episodes
{
  width: 60px;
}

.row__status
{
  display:none;
}

.rtitle:hover .hint--notes{
	visibility:visible;
	opacity:1;
}

/*  */
.se .row__type:after {
background: url();
background-size: cover;
box-shadow:4px 4px 8px rgba(0,0,0,.3);
} 

/*6.11 */

/* Gugure! Kokkuri-san */
.se20656 .row__type:after {
background: url(http://gdurl.com/w-dq);
background-size: cover;
box-shadow:4px 4px 8px rgba(0,0,0,.3);
} 

/* Hitsugi no Chaika */
.se20719 .row__type:after {
background: url(http://gdurl.com/6rpa);
background-size: cover;
box-shadow:4px 4px 8px rgba(0,0,0,.3);
} 

/* Donten ni Warau */
.se20817 .row__type:after {
background: url(http://gdurl.com/FqAt);
background-size: cover;
box-shadow:4px 4px 8px rgba(0,0,0,.3);
} 


/* Fate/stay night */
.se19603 .row__type:after {
background: url(http://gdurl.com/Bk7X);
background-size: cover;
box-shadow:4px 4px 8px rgba(0,0,0,.3);
} 

/* Girlfriend (Kari) */
.se20757 .row__type:after {
background: url(http://gdurl.com/aTqh);
background-size: cover;
box-shadow:4px 4px 8px rgba(0,0,0,.3);
} 

/* Amagi Brilliant Park */
.se20602 .row__type:after {
background: url(http://gdurl.com/s1qp);
background-size: cover;
box-shadow:4px 4px 8px rgba(0,0,0,.3);
} 

/* Cross Ange */
.se20806 .row__type:after {
background: url(http://gdurl.com/H5bI);
background-size: cover;
box-shadow:4px 4px 8px rgba(0,0,0,.3);
} 

/* Daitoshokan no Hitsujikai */
.se17827 .row__type:after {
background: url(http://gdurl.com/RFqd);
background-size: cover;
box-shadow:4px 4px 8px rgba(0,0,0,.3);
} 

/* Danna ga Nani */
.se20735 .row__type:after {
background: url(http://gdurl.com/4NnA);
background-size: cover;
box-shadow:4px 4px 8px rgba(0,0,0,.3);
} 

/* Denki-Gai */
.se20710 .row__type:after {
background: url(http://gdurl.com/rYvh);
background-size: cover;
box-shadow:4px 4px 8px rgba(0,0,0,.3);
} 


/* Akatsuki no Yona */
.se20770 .row__type:after {
background: url(http://gdurl.com/77yL);
background-size: cover;
box-shadow:4px 4px 8px rgba(0,0,0,.3);
} 


/* 6.10 */

/* Grisaia */
.se17729 .row__type:after {
background: url(http://gdurl.com/LTIX);
background-size: cover;
box-shadow:4px 4px 8px rgba(0,0,0,.3);
}




/* Another */
.se11111 .row__type:after {
background: url(http://gdurl.com/MjoU);
background-size: cover;
box-shadow:4px 4px 8px rgba(0,0,0,.3);} 

/* Aoi Bunkagu Series */
.se7193 .row__type:after {
background: url(http://gdurl.com/AIu5);
background-size: cover;
box-shadow:4px 4px 8px rgba(0,0,0,.3);}

/* Baccano! */
.se2251 .row__type:after {
background: url(http://gdurl.com/Kqzo);
background-size: cover;
box-shadow:4px 4px 8px rgba(0,0,0,.3);}

/* Black Bullet */
.se20457 .row__type:after {
background: url(http://gdurl.com/cavO);
background-size: cover;
box-shadow:4px 4px 8px rgba(0,0,0,.3);}

/* Code Geass */
.se1575 .row__type:after {
background: url(http://gdurl.com/5fqJ);
background-size: cover;
box-shadow:4px 4px 8px rgba(0,0,0,.3);}

/* Code Geass (2) */
.se2904 .row__type:after {
background: url(http://gdurl.com/vdtu);
background-size: cover;
box-shadow:4px 4px 8px rgba(0,0,0,.3);}

/* Dantalion no Shoka */
.se8915 .row__type:after {
background: url(http://gdurl.com/ZphA);
background-size: cover;
box-shadow:4px 4px 8px rgba(0,0,0,.3);}

/* Darker than Black */
.se2025 .row__type:after {
background: url(http://gdurl.com/JBQQ);
background-size: cover;
box-shadow:4px 4px 8px rgba(0,0,0,.3);}

/* Darker Than Black: Ryuusei no Gemini */
.se6573 .row__type:after {
background: url(http://gdurl.com/JBQQ);
background-size: cover;
box-shadow:4px 4px 8px rgba(0,0,0,.3);}

/* Durarara!! */
.se6746 .row__type:after {
background: url(http://gdurl.com/tlfE);
background-size: cover;
box-shadow:4px 4px 8px rgba(0,0,0,.3);}

/* Elfen Lied */
.se226 .row__type:after {
background: url(http://gdurl.com/MU9v);
background-size: cover;
box-shadow:4px 4px 8px rgba(0,0,0,.3);}


/* Fairy Tail */
.se6702 .row__type:after {
background: url(http://gdurl.com/SAG5);
background-size: cover;
box-shadow:4px 4px 8px rgba(0,0,0,.3);}

/* Gintama */
.se918 .row__type:after {
background: url(http://gdurl.com/EMXk);
background-size: cover;
box-shadow:4px 4px 8px rgba(0,0,0,.3);} 

/* Gintama: Shinyaku Benizakura-hen */
.se7472 .row__type:after {
background: url(http://gdurl.com/hKWK);
background-size: cover;
box-shadow:4px 4px 8px rgba(0,0,0,.3);}

/* Kuroshitsuji */
.se4898 .row__type:after {
background: url(http://gdurl.com/QSIq);
background-size: cover;
box-shadow:4px 4px 8px rgba(0,0,0,.3);}

/* Little Busters */
.se13655 .row__type:after {
background: url(http://gdurl.com/KZS4);
background-size: cover;
box-shadow:4px 4px 8px rgba(0,0,0,.3);}

/* Mahou Shoujo Madoka Magica */
.se9756 .row__type:after {
background: url(http://gdurl.com/MtTt);
background-size: cover;
box-shadow:4px 4px 8px rgba(0,0,0,.3);}

/* Mirai Nikki */
.se10620 .row__type:after { box-shadow:4px 4px 8px rgba(0,0,0,.3); 
background: url(http://gdurl.com/IN-4);
background-size: cover;} 

/* Mousou Dairinin */
.se323 .row__type:after { box-shadow:4px 4px 8px rgba(0,0,0,.3); 
background: url(http://gdurl.com/FSYm);
background-size: cover;} 

/* Mushishi */
.se457 .row__type:after { box-shadow:4px 4px 8px rgba(0,0,0,.3); 
background: url(http://gdurl.com/P-3n);
background-size: cover;} 

/* Mishishi Zoky Shou */
.se20595 .row__type:after { box-shadow:4px 4px 8px rgba(0,0,0,.3); 
background: url(http://gdurl.com/btaq);
background-size: cover;} 


/* Spice and wolf */
.se2966 .row__type:after {
background: url(http://gdurl.com/hpBw);
background-size: cover;
box-shadow:4px 4px 8px rgba(0,0,0,.3);} 

/* Spice and Wolf 2 */
.se5341 .row__type:after {
background: url(http://gdurl.com/b1dA);
background-size: cover;
box-shadow:4px 4px 8px rgba(0,0,0,.3);} 

/* Plastic Nee-san */
.se10711 .row__type:after {
background: url(http://gdurl.com/rIsV);
background-size: cover;
box-shadow:4px 4px 8px rgba(0,0,0,.3);} 

/* RDG : Red Data Girl */
.se14921 .row__type:after {
background: url(http://gdurl.com/FWv6);
background-size: cover;
box-shadow:4px 4px 8px rgba(0,0,0,.3);} 

/* 30.08 */

/* Noragami */
.se20447 .row__type:after {
background: url(http://gdurl.com/9p3A);
background-size: cover;
box-shadow:4px 4px 8px rgba(0,0,0,.3);
} 

/* Non Non Biyori */
.se17549 .row__type:after {
background: url(http://gdurl.com/VBTA);
background-size: cover;
box-shadow:4px 4px 8px rgba(0,0,0,.3);
}

/* No Game No Life */
.se19815 .row__type:after {
background: url(http://gdurl.com/T4hs);
background-size: cover;
box-shadow:4px 4px 8px rgba(0,0,0,.3);
} 

/* Nisemonogatari */
.se11597 .row__type:after {
background: url(http://gdurl.com/sKx6);
background-size: cover;
box-shadow:4px 4px 8px rgba(0,0,0,.3);
} 

/* Nisekoi */
.se18897 .row__type:after {
background: url(http://gdurl.com/cQKi);
background-size: cover;
box-shadow:4px 4px 8px rgba(0,0,0,.3);
} 

/* Monogatari Series */
.se17074 .row__type:after {
background: url(http://gdurl.com/qmFR);
background-size: cover;
box-shadow:4px 4px 8px rgba(0,0,0,.3);
} 

/* Mangaka-san to Assistant-san to */
.se20537 .row__type:after {
background: url(http://gdurl.com/1-c2);
background-size: cover;
box-shadow:4px 4px 8px rgba(0,0,0,.3);
} 

/* Log Horizon  */
.se17265 .row__type:after {
background: url(http://gdurl.com/1tWn);
background-size: cover;
box-shadow:4px 4px 8px rgba(0,0,0,.3);
} 

/* ef: A Tale of Memories.  */
.se2924 .row__type:after {
background: url(http://gdurl.com/ansq);
background-size: cover;
box-shadow:4px 4px 8px rgba(0,0,0,.3);
} 

/* Danshi Koukousei no Nichijou */
.se11843 .row__type:after {
background: url(http://gdurl.com/awgL);
background-size: cover;
box-shadow:4px 4px 8px rgba(0,0,0,.3);
} 

/* older than 30.8 */
.se16732 .row__type:after {
background: url(http://gdurl.com/0J1u);
background-size: cover;
box-shadow:4px 4px 8px rgba(0,0,0,.3);
} 

.se8841 .row__type:after {
background: url(http://gdurl.com/ZsPE);
background-size: cover;
box-shadow:4px 4px 8px rgba(0,0,0,.3);
} 

.se10790  .row__type:after {
background: url(http://gdurl.com/601c);
background-size: cover;
box-shadow:4px 4px 8px rgba(0,0,0,.3);
} 

.se20529 .row__type:after {
background: url(http://gdurl.com/fgtx);
background-size: cover;
box-shadow:4px 4px 8px rgba(0,0,0,.3);
} 

.se18679 .row__type:after {
background: url(http://gdurl.com/JcrP);
background-size: cover;
box-shadow:4px 4px 8px rgba(0,0,0,.3);
} 

.se5680 .row__type:after {
background: url(http://gdurl.com/2svz);
background-size: cover;
box-shadow:4px 4px 8px rgba(0,0,0,.3);
} 

.se9617 .row__type:after {
background: url(http://gdurl.com/Phz2);
background-size: cover;
box-shadow:4px 4px 8px rgba(0,0,0,.3);
} 

.se7791  .row__type:after {
background: url(http://gdurl.com/ceZA);
background-size: cover;
box-shadow:4px 4px 8px rgba(0,0,0,.3);
} 

.se15809 .row__type:after {
background: url(http://gdurl.com/t4OU);
background-size: cover;
box-shadow:4px 4px 8px rgba(0,0,0,.3);
} 

.se17895 .row__type:after {
background: url(http://gdurl.com/ipFx);
background-size: cover;
box-shadow:4px 4px 8px rgba(0,0,0,.3);
} 

.se11741 .row__type:after {
background: url(http://gdurl.com/gMxC);
background-size: cover;
box-shadow:4px 4px 8px rgba(0,0,0,.3);
} 

.se10087 .row__type:after {
background: url(http://gdurl.com/DZsw);
background-size: cover;
box-shadow:4px 4px 8px rgba(0,0,0,.3);
} 

.se790 .row__type:after {
box-shadow:4px 4px 8px rgba(0,0,0,.3);
background: url(http://gdurl.com/88RG);
background-size: cover;
} 


.se5081 .row__type:after {
box-shadow:4px 4px 8px rgba(0,0,0,.3);
background: url(http://gdurl.com/f3H6);
background-size: cover;}


.se12189 .row__type:after {
box-shadow:4px 4px 8px rgba(0,0,0,.3);
background: url(http://gdurl.com/e26m);
background-size: cover;}


.se20462 .row__type:after { box-shadow:4px 4px 8px rgba(0,0,0,.3); 
background: url(http://gdurl.com/VJQj);
background-size: cover;}

.se14131 .row__type:after { box-shadow:4px 4px 8px rgba(0,0,0,.3);  
background: url(http://gdurl.com/Hkss);
background-size: cover;}


.se9379 .row__type:after { box-shadow:4px 4px 8px rgba(0,0,0,.3);
background: url(http://gdurl.com/e8mp);
background-size: cover;}

.se20031 .row__type:after { box-shadow:4px 4px 8px rgba(0,0,0,.3);
background: url(http://gdurl.com/AnBv);
background-size: cover;}

.se18671 .row__type:after { box-shadow:4px 4px 8px rgba(0,0,0,.3); 
background: url(http://gdurl.com/8isn);
background-size: cover;}

.se14741 .row__type:after { box-shadow:4px 4px 8px rgba(0,0,0,.3); 
background: url(http://gdurl.com/FndT);
background-size: cover;}

.se10165 .row__type:after { box-shadow:4px 4px 8px rgba(0,0,0,.3); 
background: url(http://gdurl.com/EcXk);
background-size: cover;}

.se16001 .row__type:after { box-shadow:4px 4px 8px rgba(0,0,0,.3);
background: url(http://gdurl.com/bwYu);
background-size: cover;}

.se11887 .row__type:after { box-shadow:4px 4px 8px rgba(0,0,0,.3);
background: url(http://gdurl.com/bwYu);
background-size: cover;}

.se4181 .row__type:after { box-shadow:4px 4px 8px rgba(0,0,0,.3);
background: url(http://gdurl.com/gcc5);
background-size: cover;}

.se16049 .row__type:after { box-shadow:4px 4px 8px rgba(0,0,0,.3);
background: url(http://gdurl.com/unc4);
background-size: cover;}

.se6213 .row__type:after { box-shadow:4px 4px 8px rgba(0,0,0,.3);
background: url(http://gdurl.com/zw0I);
background-size: cover;}

.se889 .row__type:after { box-shadow:4px 4px 8px rgba(0,0,0,.3); 
background: url(http://gdurl.com/Ou7P);
background-size: cover;}

.se477 .row__type:after { box-shadow:4px 4px 8px rgba(0,0,0,.3);
background: url(http://gdurl.com/Zm8Z);
background-size: cover;}

.se18893 .row__type:after { box-shadow:4px 4px 8px rgba(0,0,0,.3); 
background: url(http://gdurl.com/m6rY);
background-size: cover;}

.se9989 .row__type:after { box-shadow:4px 4px 8px rgba(0,0,0,.3); 
background: url(http://gdurl.com/CvRN);
background-size: cover;}

.se6547 .row__type:after { box-shadow:4px 4px 8px rgba(0,0,0,.3);
background: url(http://gdurl.com/vH8i);
background-size: cover;}


.se20661 .row__type:after { box-shadow:4px 4px 8px rgba(0,0,0,.3);
background: url(http://gdurl.com/Ku0f);
background-size: cover;}


.se20605 .row__type:after { box-shadow:4px 4px 8px rgba(0,0,0,.3);
background: url(http://gdurl.com/s8nj);
background-size: cover;}


.se19199 .row__type:after { box-shadow:4px 4px 8px rgba(0,0,0,.3);
background: url(http://gdurl.com/ABvX);
background-size: cover;}

.se20663 .row__type:after { box-shadow:4px 4px 8px rgba(0,0,0,.3);
background: url(http://gdurl.com/gnVg);
background-size: cover;}


.se20475 .row__type:after { box-shadow:4px 4px 8px rgba(0,0,0,.3);
background: url(http://gdurl.com/79Ax);
background-size: cover;}


.se20638 .row__type:after { box-shadow:4px 4px 8px rgba(0,0,0,.3); 
background: url(http://gdurl.com/lPQn);
background-size: cover;}

.se20708 .row__type:after { box-shadow:4px 4px 8px rgba(0,0,0,.3); 
background: url(http://gdurl.com/BKXS);
background-size: cover;}


.se20458 .row__type:after { box-shadow:4px 4px 8px rgba(0,0,0,.3); 
background: url(http://gdurl.com/jPrY);
background-size: cover;} 


.se20634 .row__type:after { box-shadow:4px 4px 8px rgba(0,0,0,.3);
background: url(http://gdurl.com/arGT);
background-size: cover;} 


.se20575 .row__type:after { box-shadow:4px 4px 8px rgba(0,0,0,.3);
background: url(http://gdurl.com/MqOO);
background-size: cover;} 


.se20645 .row__type:after { box-shadow:4px 4px 8px rgba(0,0,0,.3);
background: url(http://gdurl.com/E7kM);
background-size: cover;} 


.se20668 .row__type:after { box-shadow:4px 4px 8px rgba(0,0,0,.3);
background: url(http://gdurl.com/p4XG);
background-size: cover;} 

/*Akame ga Kill */
 .se20613 .row__type:after {
background: url(http://gdurl.com/xBRW);
background-size: cover;
box-shadow:4px 4px 8px rgba(0,0,0,.3);
} 

/* Fate Kaleid */
 .se20467 .row__type:after {
background: url(http://gdurl.com/S8KD);
background-size: cover;
box-shadow:4px 4px 8px rgba(0,0,0,.3);
} 

.se20722 .row__type:after { box-shadow:4px 4px 8px rgba(0,0,0,.3);
background: url(http://gdurl.com/20f8);
background-size: cover;} 


.se20632 .row__type:after { box-shadow:4px 4px 8px rgba(0,0,0,.3);
background: url(http://gdurl.com/03Yx);
background-size: cover;} 


.se20517 .row__type:after { box-shadow:4px 4px 8px rgba(0,0,0,.3);
background: url(http://gdurl.com/glwM);
background-size: cover;}  