$nav-background: #000000;
$nav-accent-background: #000000;
$nav-color: #ffa500;

$primary-background-color: #282828;
$secondary-background-color: #444444;
$primary-text-color: #f8f8f2;
$highlight-color: #f2f2f2;
