$primary-bg-color: #ededed;
$secondary-bg-color: #222;
$primary-font-color: #c8c8c8;
$primary-accent-color: #ff594c;
$secondary-accent-color: #936303;

$list-header-image: url('https://dl.dropboxusercontent.com/s/4qz5b9u6sanhk43/haikyuu_header.png?dl=1&token_hash=AAGYCwT8OHLvdovWYwKSPaatpl-LamDML9ZkBw9O8I3T1w');
